// Place all the styles related to the Urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  font-family: Roboto, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-image: image-url("banner1.jpg");
  background-size: cover;
	letter-spacing: .1em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: transparent;

  width: 100%;
  height: 75px;
}

.header-title {
  font-size: 32px;
  color: #ffffff;
}

.body-container {
  padding: 30px;
}

.input-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.url-input {
  width: 45%;
  height: 175px;

  color: #ffffff;
  background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 5px 2px 2px black;
}

.url-input-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 35px;

  padding: 5px;
  border-bottom: 1px solid #fff;
}


.url-input-header {
  font-size: 18px;
}

.url-input-body-container {
  display: flex;
  flex-wrap: wrap;

  padding: 15px;
}

.url-input-text {
  width: 100%;
	text-align: center;
	margin-bottom: 20px;

	label {
		width: 100%;
	}

	input {
		width: 90%;
		color: white;
		background-color: transparent;
		height: 20px;
		padding: 5px;
		font-size: 12px;
		margin-top: 5px;
		text-align: center;
	}
}

.most-shortened-container {
  width: 100%;
  height: 350px;

  margin-top: 40px;
  margin-bottom: 40px;
	margin: 0 auto;
	color: #ffffff;

  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 5px 2px 2px black;
}

.most-shortened-header-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 35px;

	padding: 5px;
	border-bottom: 1px solid #fff;
}

.most-shortened-header {
	font-size: 22px;
}

.most-shortened-body-container {
	display: flex;
	flex-wrap: wrap;
}

.page {
	width: 100%;
}

.row {
	display: flex;
	width: 100%;
	height: 20px;
	margin-top: 5px;
	* {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		align-items: center;
		justify-content: center;
	}
}

.url-rank {
	width: 10%;
	font-size: 14px;
}

.url-link {
	width: 70%;
	font-size: 14px;
}

.url-num-times-shortened {
	width: 20%;
	font-size: 14px;
}
